@import "../style/variables.scss";


.main {
    min-height: calc(100vh - 107px);
    font-family: $mainFont;
    background: black;
    position: relative;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));


    .homepage--background {
        position: relative;

        .homepage--background--img {
            position: absolute;
            height: 100%;
            right: 0;
        }

        .homepage--background--img2 {
            display: none;
        }

    }

    .homepage--text {
        padding: 160px 100px;

        p:first-child {
            font-size: 64px;
            font-weight: 700;
            line-height: 96px;
            margin-bottom: 16px;
        }

        p:nth-child(2) {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.08em;
        }

        div {
            margin-top: 32px;
            display: flex;
            align-items: center;
            height: fit-content;


            p:first-child {
                display: flex;
                font-size: 16px;
                font-weight: 600;
                align-self: center;
                margin-right: 4px;
                line-height: 28px;
                letter-spacing: 0.05em;
                color: #FC700A;
                margin-bottom: 0;
                cursor: pointer;
                transition: margin-right .3s ease-out;

                &:hover {
                    margin-right: 16px;
                    transition: margin-right .3s ease-out;
                }
            }
        }
    }
}

.open--position--header {
    padding: 200px 160px 80px 200px;
    font-family: $mainFont;

    .open--position--header--para {
        font-size: 64px;
        font-weight: 700;
        line-height: 96px;
        text-align: center;

    }

    .open--position--header--div1 {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: end;
        flex-wrap: wrap;
        width: 100%;
        font-family: $mainFont;
        margin-bottom: 80px;


        .open--position--header--div1--input {
            margin-top: 30px;
            position: relative;
            display: flex;

            input {
                position: relative;
                border: none;
                border-bottom: solid 1px grey;
                width: 250px;
                background: none;
                padding: 6px 0;
                padding-right: 16px;
                outline: none;
                font-family: $mainFont;
                font-size: 16px;
                transition: border-color .3s ease-out;

                &:focus {
                    border-color: #FC700A;
                    transition: border-color .3s ease-out;
                }

                ::placeholder {
                    font-size: 18px;
                    line-height: 30px;
                    font-family: $mainFont;
                }

            }

            .searchIcon {
                position: absolute;
                width: 15px;
                height: 15px;
                bottom: 6px;
                right: 0;
                cursor: pointer;
                opacity: .7;
            }
        }

        .open--position--header--div1--dropdown {
            position: relative;

            p {
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                color: #262626;
                margin-bottom: 8px;
            }

            select {
                font-family: $mainFont;
                border: none;
                border-bottom: solid 1px grey;
                width: 250px;
                background: transparent;
                color: black;
                outline: none;

                option {
                    font-size: 16px;
                    color: black;
                }
            }
        }
    }
}

.open--positions {
    padding: 0 200px 160px 200px;

    .open--positions--container {
        border: #ADADAD solid 1px;
        padding: 24px 0;
        border-left: none;
        border-right: none;
        font-family: $mainFont;
        margin-bottom: 32px;

        .open--positions--title {

            display: flex;
            justify-content: space-between;

            p:first-child {
                font-size: 32px;
                font-weight: 600;
                line-height: 48px;
                letter-spacing: 0.04em;

                span {
                    margin-left: 8px;
                }
            }


            .arrrow--icon--careers {
                color: black;
                width: 37px;
                height: 37px;
            }
        }

        .open--positions--location {
            display: flex;
            margin-top: 24px;
            margin-bottom: 16px;
            align-items: center;

            p:first-child {
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0.08em;
            }

            p:last-child {
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0.08em;
                opacity: .8;
                margin-left: 16px;
            }
        }

        .open--positions--body {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.08em;
        }

    }

    .arrrow--icon--careers2--div {
        display: none;
    }

    .open--positions--button {
        width: 100%;
        text-align: center;

        button {
            cursor: pointer;
            font-size: 16px;
            margin-top: 48px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0.05em;
            padding: 8px 24px;
            background: #ADADAD;
            border: none;
            text-decoration: none;
            color: black;
        }
    }
}










@media (max-width: 1100px) {
    .main {


        .homepage--background {
            display: flex;
            align-items: end;
            justify-content: center;

            .homepage--background--img {
                display: none;
            }

            .homepage--background--img2 {
                display: block;
            }
        }



        .homepage--text {
            padding-bottom: 32px;

            p:first-child {
                font-size: 48px;
                font-weight: 700;
                line-height: 96px;
            }

            div {
                display: flex;
                align-items: center;

                p:first-child {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 28px;
                    letter-spacing: 0.05em;
                    color: #FC700A;
                    cursor: pointer;
                    transition: margin-right .3s ease-out;

                    &:hover {
                        margin-right: 16px;
                        transition: margin-right .3s ease-out;
                    }
                }
            }

        }
    }
}


@media (max-width: 880px) {
    .main {
        height: fit-content;

        .homepage--background {
            padding: 0 16px 0 16px;
        }

        .homepage--text {
            padding: 32px 16px;
            width: 60%;
            position: relative;
            top: 40%;



            p:first-child {
                font-size: 32px;
                font-weight: 700;
                line-height: 48px;
                position: relative;
            }

            p:nth-child(2) {
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
            }

            div {
                display: flex;
                align-items: center;

                p:first-child {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 28px;
                    letter-spacing: 0.05em;
                    color: #FC700A;
                    cursor: pointer;
                    transition: margin-right .3s ease-out;

                    &:hover {
                        margin-right: 16px;
                        transition: margin-right .3s ease-out;
                    }
                }
            }
        }
    }


    .open--position--header {
        padding: 32px 16px 32px 16px;


        .open--position--header--para {
            font-size: 32px;
            font-weight: 700;
            line-height: 48px;
        }

        .open--position--header--div1 {
            display: block;
            justify-content: space-between;
            position: relative;
            align-items: end;
            flex-wrap: wrap;
            width: 100%;
            font-family: $mainFont;
            margin-bottom: 80px;


            .open--position--header--div1--input {
                margin-top: 30px;
                margin-bottom: 32px;


                input {                  

                    ::placeholder {
                        font-size: 18px;
                        line-height: 30px;
                        font-family: $mainFont;
                    }

                }
            }

            .open--position--header--div1--dropdown {
                position: relative;
                width: 100%;

                p {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 26px;
                    letter-spacing: 0.08em;
                }

                select {
                    width: 100%;
                }
            }
        }
    }


    .open--positions {
        padding: 0 16px 32px 16px;

        .open--positions--container {

            .open--positions--title {

                display: flex;
                justify-content: space-between;

                p:first-child {
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 48px;
                    letter-spacing: 0.04em;
                    text-align: left;


                    span {
                        margin-left: 8px;
                    }
                }
            }

            .open--positions--location {

                p:first-child {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 26px;
                    letter-spacing: 0.08em;
                }

                p:last-child {
                    font-size: 16px;
                }
            }

            .open--positions--body {
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0.08em;
            }

        }
    }

}


@media (max-width: 660px) {
    .main {
        height: fit-content;

        .homepage--background {
            width: 100vw;

            .homepage--background--img2 {
                display: flex;
                justify-self: center;
            }
        }

        .homepage--text {
            padding: 32px 16px;
            width: 90%;
            top: 0%;

            p:nth-child(2) {
                padding-right: 16px;
            }

        }
    }

    .open--positions {
        padding: 0 16px 32px 16px;

        .open--positions--container {

            .open--positions--title {

                display: flex;
                justify-content: space-between;

                p:first-child {
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 48px;
                    letter-spacing: 0.04em;
                    text-align: left;


                    span {
                        margin-left: 8px;
                    }
                }


                .arrrow--icon--careers {
                    display: none;
                }
            }

        }

        .arrrow--icon--careers2--div {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: end;
            margin: 8px 0;

        }
    }
}

@media (max-width: 470px) {
    .main {


        .homepage--text {
            width: 70%;

            p:nth-child(2) {
                padding-right: 16px;
            }

        }
    }
}