@import "../../../style/variables.scss";


.header {
   position: relative;
   display: flex;
   align-items: center;
   min-width: 100vw;
   margin-top: 22px;
   margin-bottom: 20px;

   // Link{
   //    background: red;
   //    z-index: 1000;
   //    width: 200px;
   //    height: 300px;
   // }

   .logo {
      position: relative;
      cursor: pointer;
      margin-left: 100px;
      z-index: 1000;
   }

   .logoDiv {
      position: relative;
      z-index: 2;
      cursor: pointer;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      .logodivv {
         width: 32px;
         height: 28px;
         position: relative;
         padding: 4px;
         cursor: pointer;


         div {
            border: solid 2px #262626;
            margin-bottom: 6px;
            width: 100%;
            border-radius: 18px;

         }

         div:first-child {
            width: 70%;
            margin-left: 10%;
            transition: width .3s ease-in-out, margin-left .4s ease-in;
         }

         div:last-child {
            width: 70%;
            margin-left: 25%;
            margin-bottom: 0;
            margin-top: 4.5px;
            transition: width .3s ease-in-out, margin-left .4s ease-in;
         }


         &:hover {
            div:first-child {
               width: 100%;
               margin-left: 0;
               transition: width .3s ease-in-out, margin-left .4s ease-in;
            }

            div:last-child {
               width: 100%;
               margin-left: 0;
               transition: width .3s ease-in-out, margin-left .4s ease-in;
            }
         }
      }
   }
}

@keyframes fadeOutAnimation {
   from {
      height: 100px;
   }

   to {
      height: 0;

   }
}

@keyframes fadeInAnimation {
   from {
      height: 0;
   }

   to {
      height: 100px;
   }
}

@keyframes fadeOutAnimationM {
   from {
      height: 250px;
   }

   to {
      height: 0;

   }
}

@keyframes fadeInAnimationM {
   from {
      height: 0;
   }

   to {
      height: 250px;
   }
}

.header--menu--options {
   position: relative;
   align-items: center;
   width: 100%;
   justify-content: space-between;
   font-family: $mainFont;
   font-size: 24px;
   font-weight: 600;
   padding: 0px 100px;
   transition: color .3s ease-in-out;
   height: 100px;
   overflow: hidden;
   animation: fadeInAnimation .5s;

   Link{
      position: relative;
      z-index: 100;
      
   }


   P {
      cursor: pointer;
      color: #ADADAD;
      border-bottom: $mainColor;
      transition: color .3s ease-in-out, border-bottom .5s ease-in-out;


      &:hover {
         color: black;
         border-bottom: #f8893a solid 1.5px;
         transition: color .3s ease-in-out, border-bottom .5s ease-in-out;
      }
   }
}

.header--menu--optionsM {
   position: relative;
   align-items: center;
   width: 100%;
   justify-content: space-between;
   font-family: $mainFont;
   font-size: 24px;
   font-weight: 600;
   transition: color .3s ease-in-out;
   height: 100px;
   overflow: hidden;
   animation: fadeInAnimationM .5s;
   padding: 16px 16px;
   height: 250px;
   flex-direction: column;
   text-align: center;


   P {
      cursor: pointer;
      margin-bottom: 24px;
      width: fit-content;
      color: #ADADAD;
      border-bottom: $mainColor;
      transition: color .3s ease-in-out, border-bottom .5s ease-in-out;


      &:hover {
         color: black;
         border-bottom: #f8893a solid 1.5px;
         transition: color .3s ease-in-out, border-bottom .5s ease-in-out;
      }
   }
}

.inactiveHeaderOptions {
   height: 0;
   animation: fadeOutAnimation .5s;
}


.inactiveHeaderOptionsM {
   height: 0;
   animation: fadeOutAnimationM .5s;
}


@media (max-width: 980px) {
   .header {

      justify-content: space-between;

      .menu {
         margin-left: 0;
      }
   }
}


@media (max-width: 856px) {
   .header {
      margin-left: 16px;
      padding-right: 32px;

      .logo {
         height: 35.44px;
         width: 100px;
         margin-left: 0;
      }

      .logoDiv {
         position: relative;
         width: 32px;
         height: 32px;
         display: inline-block;
      }

      // div {
      //    display: none;
      //    width: 30px;
      //    height: 30px;
      // }
   }

   .header--menu--options {
      padding: 16px 16px;
      // height: 250px;
      flex-direction: column;
      text-align: center;
      width: 100%;
      // background: red;

      p {
         margin-bottom: 24px;
         width: fit-content;
      }
   }
}