@import "../../../style/variables.scss";


.header {
   position: relative;
   display: flex;
   align-items: center;
   min-width: 100vw;
   margin-top: 22px;
   margin-bottom: 20px;

   .logo {
      cursor: pointer;
      margin-left: 100px;
   }

   .logoDiv {
      position: relative;
      z-index: 2;
      // margin-left: 509px;
      cursor: pointer;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 4px 0;
      // background: red;

      .logodivv {
         width: 32px;
         height: 28px;
         position: relative;
         // background: green;
         padding: 4px;
         cursor: pointer;
         // transition: width .3s ease-in-out, margin-left .3s ease-in;


         div {
            border: solid 2px #262626;
            margin-bottom: 6px;
            width: 100%;
            border-radius: 18px;
            // transition: width .3s ease-in-out, margin-left .3s ease-in;

         }

         div:first-child {
            width: 70%;
            margin-left: 10%;
            transition: width .3s ease-in-out, margin-left .4s ease-in;
         }

         div:last-child {
            width: 70%;
            margin-left: 25%;
            margin-bottom: 0;
            margin-top: 4.5px;
            transition: width .3s ease-in-out, margin-left .4s ease-in;
         }


         &:hover {
            div:first-child {
               width: 100%;
               margin-left: 0;
               transition: width .3s ease-in-out, margin-left .4s ease-in;
            }

            div:last-child {
               width: 100%;
               margin-left: 0;
               transition: width .3s ease-in-out, margin-left .4s ease-in;
            }
         }
      }
   }
}

@keyframes fadeOutAnimation {
   from {
      height: 100px;
   }

   to {
      height: 0;
   }
}

@keyframes fadeInAnimation {
   from {
      // opacity: 0;
      // padding-top: 0;
      // padding-bottom: 0;
      // padding: 0 100px;

      // display: none;
      // transform: translateY(-100%);
      height: 0;
      // position: absolute;
      // transform: translate();
   }

   to {
      // opacity: 1;
      // padding-top: 32px;
      // padding-bottom: 32px;
      // padding: 32px 100px;
      // display: flex;
      // transform: translateY(0);
      height: 100px;
      // position: relative;
   }
}

.header--menu--options {
   // display: flex;
   position: relative;
   align-items: center;
   width: 100%;
   justify-content: space-between;
   font-family: $mainFont;
   font-size: 24px;
   font-weight: 600;
   padding: 0px 100px;
   color: #ADADAD;
   transition: color .3s ease-in-out;
   height: 100px;
   overflow: hidden;
   animation: fadeInAnimation .5s;

   // background: red;



   P {
      cursor: pointer;

      &:hover {
         color: #fb974f;
         transition: color .3s ease-in-out;
      }
   }
}

.inactiveHeaderOptions {
   height: 0;
   animation: fadeOutAnimation .5s;
}


@media (max-width: 980px) {
   .header {

      justify-content: space-between;

      .menu {
         margin-left: 0;
      }
   }
}


@media (max-width: 856px) {
   .header {
      margin-left: 16px;
      padding-right: 32px;

      .logo {
         height: 35.44px;
         width: 100px;
         margin-left: 0;
      }

      .logoDiv {
         position: relative;
         width: 32px;
         height: 32px;
         display: inline-block;
      }

      // div {
      //    display: none;
      //    width: 30px;
      //    height: 30px;
      // }
   }

   .header--menu--options {
      padding: 16px 16px;
   }
}