@import "../../../style/variables.scss";

.prefooter {
    height: fit-content;
    margin-top: 160px;
    background: #ADADAD;
    text-align: center;
    padding: 160px 100px;
    font-family: $mainFont;

    // p {}

    #prefooter--text {
        font-size: 64px;
        font-weight: 700;
        line-height: 96px;
        margin-bottom: 24px;
        position: relative;
        opacity: 1;
        overflow: hidden;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    button {
        font-size: 16px;
        line-height: 28px;
        font-weight: 600;
        padding: 8px 24px 8px 24px;
        background-color: #0D0D0D;
        color: #dfdfdf;
        border-left: #FC700A solid 2px;
        border-right: #FC700A solid 2px;
        cursor: pointer;
        transition: border-top .3s ease-in, border-bottom .3s ease-in-out;
        opacity: 1;

        &:hover {
            border-top: #FC700A solid 2px;
            border-bottom: #FC700A solid 2px;
            transition: border-top .3s ease-in, border-bottom .3s ease-in-out;
        }
    }

    .word {
        transform: translateY(350px) skewY(10deg);
        transition: transform .5s;
    }
}

@media (max-width: 856px) {
    .prefooter {
        padding: 32px 16px;

        #prefooter--text {
            font-size: 32px;
            line-height: 48px;
        }
    }
}