@import "../../../style/variables.scss";


.portfolio--section {
    text-align: center;
    font-family: $mainFont;
    padding: 160px 100px;

    p:first-child {
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    p:nth-child(2) {
        font-weight: 700;
        font-size: 64px;
        line-height: 96px;
        margin-bottom: 80px;
    }

    .portfolio--section--div {
        display: flex;
        flex-wrap: nowrap;
        gap: 32px;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        scroll-behavior: smooth;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        div {
            display: flex;
            height: fit-content;
            gap: 32px;
            place-items: start;
            // flex-wrap: wrap;
            justify-content: center;
            transition: gap .3s ease-in-out;


            &:hover {
                gap: 16px;
                transition: gap .3s ease-in-out;

                .ft9ja--mockup1 {
                    transform: scale(1.02);
                    transition: transform .3s ease-in-out;
                }
            }

            .ft9ja--mockup1 {
                overflow: hidden;
                min-width: fit-content;
                height: 594px;
                transition: transform .3s ease-in-out;
            }

            .ft9ja--mockup2 {
                background: white;
                height: 554px;
            }
        }
    }
}



@media (max-width: 1250px) {

    .portfolio--section {

        div {
            .ft9ja--mockup2 {
                width: 645px;
            }
        }
    }
}

@media (max-width: 856px) {

    .portfolio--section {
        padding: 32px 16px;


        p:first-child {
            font-size: 14px;
            line-height: 22px;
        }

        p:nth-child(2) {
            font-size: 48px;
            line-height: 48px;
        }

        div {
            .ft9ja--mockup2 {
                width: 100%;
            }
        }
    }
}

@media (max-width: 480px) {
    .portfolio--section {
        padding: 32px 16px;

        div {
            .ft9ja--mockup2 {
                width: 100%;

                .ft9ja--mockup2img {
                    width: 90%;
                }
            }
        }
    }
}